.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

.result {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
}

.card-image {
  display: block;
  width: 200px;
  height: 150px;
}